.header {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 5% auto 5% auto;
}

.header p {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1.3em;
  font-weight: 300;
}

.container {
  width: 70%;
  margin-bottom: 5%;
}

.checkout_button {
  font-size: 20px;
}

.cart_text {
  font-size: 25px;
}

.badge {
  float: right;
  font-size: 18px;
}

.list-group h5 {
  font-size: 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}

.footer-link-div a {
  text-decoration: none !important;
}